<!DOCTYPE html>
<html>
  <head>
    <title>Electron Boilerplate: Hello World!</title>
    <!-- VENDOR CSS -->
    <link rel="stylesheet" type="text/css" href="../public/css/skeleton/css/skeleton.css">
    <!-- VENDOR JS -->
    <script type="text/javascript" src="../public/vendor/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../public/vendor/react/react.min.js"></script>
    <script type="text/javascript" src="../public/vendor/react/JSXTransformer.js"></script>
    <!-- CUSTOM CSS -->
    <link rel="stylesheet" type="text/css" href="../public/css/style.css">
  </head>
  <body>

    <div class="fluid container">
      <div class="navbar">
        <div class="fluid container">
          <ul class="navbar-list">
            <li class="navbar-item"><a href="#" class="navbar-link active">Home</a></li>
            <li class="navbar-item"><a href="javascript:window.open('http://www.wakatime.com')" class="navbar-link">Wakatime Dashboard</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
        <div class="twelve columns main-content">
            <div class="three columns"><a href="#" class="plugin"><!-- plugin img --></a></div>
            <div class="three columns"><a href="#" class="plugin"><!-- plugin img --></a></div>
            <div class="three columns"><a href="#" class="plugin"><!-- plugin img --></a></div>
            <div class="three columns"><a href="#" class="plugin"><!-- plugin img --></a></div>
        </div>
    </div>

    <div class="container">
        <div id="example"></div>
    </div>

    <!-- REQUIRED -->
    <script type="text/javascript" src="../jspm_packages/system.js"></script>
    <script type="text/javascript" src="../config.js"></script>
    <!-- CUSTOM JS -->
    <script type="text/javascript" src="../public/js/sample.js"></script>
    <script type="text/jsx" src="../public/app/home/home.jsx"></script>
  </body>
</html>
