<!DOCTYPE html>
<html ng-app="homeApp">
  <head>
    <title>Electron Boilerplate: Hello World!</title>
    <!-- VENDOR CSS -->
    <link rel="stylesheet" type="text/css" href="../dist/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="../dist/css/skeleton.css">
    <!-- VENDOR JS -->
    <script type="text/javascript" src="../dist/vendor/angularjs/angular.min.js"></script>
    <!-- CUSTOM CSS -->
    <link rel="stylesheet" type="text/css" href="../dist/css/style.css">
  </head>
  <body ng-controller="HomeController" ng-init="init()">
    <nav-bar></nav-bar>

    <div class="container" ng-repeat="plugin in plugins">
      <div class="twelve columns plugin">
        <div class="left">
          <a href="{{ plugin.url }}">
            <img src="../dist/images/plugins/{{ plugin.src }}" alt="{{ plugin.alt }}">
            <span class="badge good"></span>
            <span class="status">Status: Active</span>
          </a>
        </div>
      </div>
    </div>

    <!-- REQUIRED -->
    <script type="text/javascript" src="../jspm_packages/system.js"></script>
    <script type="text/javascript" src="../config.js"></script>
    <!-- CUSTOM JS -->
    <script type="text/javascript" src="../dist/js/sample.js"></script>
    <script type="text/javascript" src="../dist/js/app/nav/nav.js"></script>
    <script type="text/javascript" src="../dist/js/app/home/home.js"></script>
  </body>
</html>
